<h2>Follower Users</h2>
<% if @users.empty? %>
<span>ユーザーはいません</span>
<% else %>
<table class='table'>
  <thead>
    <tr>
      <th>Image</th>
      <th>name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= image_tag user.get_profile_image, size:'100x100' %>
        </td>
        <td><%= user.name %></td>
        <td>
          <%= link_to follows_user_path(user) do %>
            <p>フォロー<%= user.followers.count %></p>
          <% end %>
        </td>
        <td>  
          <%= link_to followers_user_path(user) do %>
            <p>フォロワー<%= user.followeds.count %></p>
          <% end %>
        </td>
        <td>
            <%= link_to 'Show', user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> 
<% end %>